.dashboard-title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Dashboard container to put cards inside */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;

}