.dashboard-title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Dashboard container to put cards inside */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-top: 20px;
  position: relative;
}

.open-book-img {
  width: 7%;
  align-items: flex-end;
  margin-bottom: 10px;
}