.footer {
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 100%;
    bottom: -5px;
    left: 0;
    z-index: 999;
    /*background-color: #d6fabf; */
    background-image: url('./footer.png');
    background-size: 105% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100px;
}

.footer-container {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    font-size: 12px;
    
}

.footer-links {
    display: flex;
    gap: 16px;
    color: #9F9FEE;
}
.footer-links:hover {
    color: #9348d1;
    cursor: pointer;
    text-decoration: underline;
}

.text {
    text-align: center;
    color: #9F9FEE,

}
