.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cae5fc;
  padding: 20px;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #9F9FEE;
}

.subtitle {
  text-align: center; /* add text-align for subtitle */
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  color: #ec407a;
}

.description {
  text-align: center; /* add text-align for description*/
  font-size: 14px;
  color: #555;
  margin-bottom: 20px; /* space between elements*/
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: black;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
  background-color: white; /*changed to white */
  color: black
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #42a5f5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px; /* button needs space*/
}

.google-btn {
  /* display: block; keep button with parent container */
  display: flex;
  margin: 0 auto; /* center horizontally */
  padding: 10px 20px; /* google buttons are usually smaller */ 
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.google-icon {
  width: 18px;
  height: 18px;
}

.facebook-btn {
  /* display: block; keep button with parent container */
  display: flex;
  margin: 0 auto; /* center horizontally */
  padding: 10px 20px; /* google buttons are usually smaller */ 
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.facebook-icon {
  width: 18px;
  height: 18px;
}

.google-btn:hover,
.facebook-btn:hover {
  background: #e5ffd5;
}

.login-logo {
  display: block;
  /* left */
  /* margin: 0 0 16px; */
  /* center */
  margin: 0 auto 16px;
  /* right */
  /* margin: 0 0 16px auto; */
  max-height: 180px;
  max-width: 180px;
}


navbar-link {
  margin-left: auto;
}
