.select-container {
    padding: 30px;
    margin: 20px;
    width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
    align-self: flex-start;
    margin-left: 10px;
}

.dropdown-header {
    cursor: pointer;

    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.dropdown-item {
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.arrow {
    margin-left: 20px;
}



/* second try
.select-container {
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
}

.child-dropdown {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}


/* my original try
.select-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    width: 150px;
}

.child-dropdown {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: none;
    appearance: none;
    background-color: white;
    padding: 8px 12px;
    width: 150px;
    height: 150px;
    position: sticky;
    top: 0px;
    left: 10px;
    height: 20px;
    border: 1px grey;

}
