.milestoneChild-card {
  background: white;
  border-radius: 20px;
  padding: 36px 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* centra horizontal */
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

/* Header */
.card-title {
  /*font-family: "Baloo 2", cursive;*/
  font-size: 24px;
  font-weight: 800;
  color: #2d2d2d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card-subtitle {
  text-align: center;
  color: #bbb;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.percentage {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.export-btn {
  padding: 10px;
  margin-bottom: 10px;
}
