.home-grid {
  display: grid;
  height: 100vh;
  margin-bottom: 100px;
  row-gap: 0;
  column-gap: 20px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.container2 {
  display: flex;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
}

.container3 {
  display: flex;
  flex-direction: column; /* put container3-top above container3-bottom */
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  /* background: linear-gradient(135deg, #cc7df0 0%, #b885d8 50%, #b79dd8 100%); */
  width: 100%;
  height: 100%;
}
