.child-card {
  width: 50rem;
  height: 250px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  margin-left: 20px;
  margin-bottom: 20px;
}

.avatar {
  height: 110px;
  width: 110px;
  object-fit: contain;
  margin-right: 10px;
}

.child-name {
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.child-name:hover {
  color: grey;
}

.child-age {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  color: black;
  font-family: 'Arial', sans-serif;
}

.last-read-book {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  color: black;
  font-family: 'Arial', sans-serif;
}

.worm {
  height: 120px;
  width: 150px;
  margin-left: 20px;
}