.milestone-card {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  border-radius: 24px;
  /*
  margin-left: 20px;
  position: absolute;
  right: 20px;
  bottom: -350px; */

}

h2 {
  text-align: center;
}

.worm-text {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

.GetWorm-card {
  padding: 10px;
  width: 100%;
}

/*.worm-container {
  width: 100%;
  height: 30px;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  margin: 15px 0;
  position: relative;
}

.clear-worm {
  height: 150px;
}

.worm-fill {
  height: 100%;
  background: linear-gradient(90deg, #a855f7, #7c3aed);
  border-radius: 30px;
  transition: width 0.6s ease;
}

/* Texto debajo */