.weekly-goal-card {
  width: 50rem;
  background: #aee3f9;
  border-radius: 20px;
  padding: 40px;
  height: 100%;
  display: block;
  flex-direction: column;
  min-width: 500px;
  font-family: "Arial", sans-serif;
}
.text-section {
  position: relative;
  z-index: 2;
  max-width: 350px;
  text-align: left;
}

.text-section h2 {
  text-align: left;
  font-size: 90px;
  font-weight: bold;
  color: #000;
}
/*Move the text and buttom down*/
.text-button {
  margin-top: 210px;
  padding: 10px;
}

.text-button h3 {
  font-size: 50px;
  color: #000;
}

.text-button h4 {
  padding: 5px;
  font-size: 17px;
  text-align: left;
  color: #000;
}

/* Img */
.theme-img {
  position: absolute;
  right: 10%; /*it moves to the left <--*/
  bottom: -5%; /*it moves up */
  width: 400px;
  opacity: 0.9;
  z-index: 1;
}

.complete-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}
