.weekly-goal-card {
  width: 450px;
  background: linear-gradient(180deg, #87CEEB 0%, #5FB9D3 100%);
  border-radius: 24px;
  padding: 30px;
  height: 400px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', sans-serif;
}

.weekly-goal-card h2 {
  font-size: 42px;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  line-height: 1.1;
}

.weekly-goal-card h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

/* Card 
.weekly-goal-card {
  width: 300px;
  max-height: 470px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
}*/

/* Img */
.theme-img {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
}