.weekly-goal-card {
  width: 50rem;
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  font-family: 'Arial', sans-serif;
  height: 100%;
  display: flex;
  /* clave */
  flex-direction: column;
  /* apila elementos */
  align-items: center;
  /* centra horizontal */

}

.weekly-goal-card h2 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  line-height: 1.1;
}

.weekly-goal-card h3 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #000;
  margin: 0 0 20px 0;
  line-height: 1.2;
}


/* Img */
.theme-img {
  width: 40%;
  border-radius: 10px;
  margin-bottom: 10px;
}